<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Заголовок
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <h1>Рецепты онлайн</h1>
      {% comment %} <nav>
        <ul>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Register</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </nav> {% endcomment %}
    </header>
    <main>
      {% block content %}
        Контент
      {% endblock %}
    </main>
    <footer>
      <p>
        &copy;{% now 'Y' %}Учебный проект
      </p>
    </footer>
  </body>
</html>
